* {
  margin: 0;
  font-family: monospace;
}

body {
  background-color: rgb(0, 0, 73);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  user-select: none;
}
header {
  width: 100%;
  background-color: rgb(0, 162, 216);
  color: rgb(0, 0, 73);
  padding: 2vh 0;
  font-weight: 600;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}


section {
  background-color: #fff;
  border-radius: 20px;
  padding: 2vh 4vw;
  width: 50vw;
  height: 35vh;
  margin-left: -20vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
}

section p {
  font-size: 1.4rem;
  color: rgb(0, 0, 73);
}

section input {
  width: 30vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 73);
  outline-color: rgb(0, 0, 73);
  padding-left: 1vw;
  font-size: 1.2rem;
  border: 2px solid rgb(0, 162, 216);
}

section button {
  padding: 1.7vh 4vw;
  border: none;
  background-color: rgb(0, 162, 216);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

section button:hover {
  background-color: rgb(0, 0, 73);
  color: #fff;
  transform: scale(1.05);
}

#palindrome-img {
  margin-top: -40vh;
  margin-left: 22vw;
  z-index: -1;
}

#result-txt {
  margin-top: 2vh;
}

@keyframes rotate {
  0% {
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.fa-repeat {
  animation: rotate 4s ease-in 4s infinite;
}




/*-----------------RESPONSIVENESS------------------*/

@media (min-width: 992px) and (max-width: 1350px) {
  #palindrome-img {
    width: 50vw;
    height: 60vh;
    margin-top: -40vh;
    margin-left: 22vw;
  }
}

@media (max-width: 991px) {
  section {
    margin: 0 0 0 -20vw;
  }

  #palindrome-img {
    margin: -16vh 4vw 0 16vw;
    width: 50vw;
    height: 40vh;
  }
}

@media (max-width: 768px) {
  body {
    gap: 7vh;
  }
  section {
    height: 40vh;
    width: 55vw;
  }
  section input {
    width: 40vw;
  }
  section button {
    padding: 1.7vh 8vw;
  }
  #palindrome-img {
    margin: -13vh 4vw 0 16vw;
    width: 60vw;
    height: 38vh;
  }
}

@media (max-width: 600px) {
  body {
    gap: 7vh;
  }
  header {
    font-size: 2.5rem;
  }
  section {
    margin: 0;
    width: 70vw;
  }
  section input {
    width: 50vw;
  }
  #palindrome-img {
    margin: -13vh 0 0 0;
    width: 78vw;
    height: 38vh;
  }
}
