@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: "Poppins", monospace;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  user-select: none;
}
header {
  width: 100%;
  background-color: #00bac6;
  color: #fff;
  padding: 2vh 0;
  font-weight: 600;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

section {
  background-color: #fff;
  border: 2px solid #00bac6;
  border-radius: 20px;
  padding: 2vh 4vw;
  width: 50vw;
  height: 40vh;
  margin-left: -20vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
}

section p {
  font-size: 1.4rem;
  color: #00bac6;
}

section input {
  width: 30vw;
  height: 5vh;
  border-radius: 5px;
  border: none;
  color: #333;
  outline-color: #00bac6;
  padding-left: 1vw;
  font-size: 1.2rem;
  border: 2px solid #00bac6;
}


section button {
  padding: 1.7vh 4vw;
  border: 2px solid #00bac6;
  background-color: #fff;
  color: #00bac6;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

section button:hover {
  background-color: #00bac6;
  color: #fff;
  transform: scale(1.05);
}

#palindrome-img {
  margin-top: -40vh;
  margin-left: 22vw;
  z-index: -1;
}

#result-txt {
  margin-top: 2vh;
}

@keyframes rotate {
  0% {
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.fa-repeat {
  animation: rotate 4s ease-in 4s infinite;
}

/*-----------------RESPONSIVENESS------------------*/

@media (max-width: 1024px) {
  section {
    margin: 0 0 0 -20vw;
  }

  #palindrome-img {
    margin: -16vh 4vw 0 16vw;
    width: 50vw;
    height: 40vh;
  }
}

@media (max-width: 768px) {
  body {
    gap: 7vh;
  }
  section {
    height: 40vh;
    width: 55vw;
  }
  section input {
    width: 40vw;
  }
  section button {
    padding: 1.7vh 8vw;
  }
  #palindrome-img {
    margin: -13vh 4vw 0 16vw;
    width: 60vw;
    height: 38vh;
  }
}

@media (max-width: 375px) {
  body {
    gap: 7vh;
  }
  header {
    font-size: 1.5rem;
    gap: 0.5rem;
  }
  section {
    margin: 0;
    width: 70vw;
  }

  section p {
    font-size: 1rem;
  }
  section input {
    width: 55vw;
    font-size: 1rem;
  }

  section input::placeholder {
    font-size: 0.8rem;
  }

  #check-btn {
    padding: 1vh 4vw;
    font-size: 1rem;
  }
  #palindrome-img {
    margin: -13vh 0 0 0;
    width: 78vw;
    height: 38vh;
  }
}

@media (max-width: 320px) {
  header {
    font-size: 1.2rem;
  }
  section {
    width: 70vw;
  }
  section input {
    width: 60vw;
  }

  section input::placeholder {
    font-size: 0.75rem;
  }
}
